---
---

<footer class="relative py-16 px-6 lg:px-8 border-t border-neutral-500/20 mt-16">
  <div class="max-w-7xl mx-auto">
    <div class="flex flex-col md:flex-row items-center justify-between gap-8">
      <!-- Logo mark -->
      <div class="flex items-center gap-4">
        <svg 
          class="w-6 h-6 text-white" 
          viewBox="0 0 506.67 506.67" 
          fill="none" 
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="SEITYL logo"
        >
          <path fill="currentColor" d="M386.82,80.4l-217.72,140.18c-5.54,4.26-5.46,10.4,0,14.49l52.18,35.95c4.22,2.85,8.11,4.53,14.57,1.86l27.02-14.36c2.31-1.47,5.26-2.47,8.73-.05l24.36,17.01c1.51,1.4.18,3.95-.65,4.53l-80.85,52.23c-9.87,5.04-19.28.19-22.19-1.7l-86.01-59.53c-23.48-18.89-13.97-60.11,14.44-79.15l185.77-112.95,80.36,1.5Z"/>
          <path fill="currentColor" d="M123.76,427.76l214.32-145.34c5.44-4.39,5.21-10.53-.35-14.49l-52.01-35.97c-4.28-2.75-9.23-3.06-15.62-.24l-26.67,15c-2.28,1.53-5.2,2.59-8.73.26l-24.38-16.88c-1.54-1.36-.65-3.48.16-4.09l79.58-54.14c8.91-5.22,17.04-4.23,23.45-.56l86.18,59.19c23.92,18.32,15.41,59.76-12.54,79.47l-183.02,117.36-80.38.42Z"/>
        </svg>
        <span class="text-xs uppercase tracking-extra-wide text-neutral-300">
          &copy; {new Date().getFullYear()} SEITYL Group Ltd
        </span>
      </div>
      
      <span class="text-xs text-neutral-300">
        Caribbean-founded. Globally capable.
      </span>
    </div>
    
  </div>
</footer>
